 body {
  font-family: segoe-ui_normal,Segoe UI,Segoe,Segoe WP,Helvetica Neue,Helvetica,sans-serif;
  color: black;
  font-size: 18px;
  display: grid;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main aside"
    "footer footer footer";
  grid-template-rows: 80px 80px 1fr 50px;
  grid-template-columns: 15% 1fr 18%;
  grid-gap: 5px;
  height: 100vh;
  margin: 10px;
}

header {
  grid-area: header;
  background: red;
  padding: 5px;
}

nav {
  grid-area: nav;
  background: red;
  padding: 5px;
}

main {
  grid-area: main;
  background: #c9c500;
  padding: 5px;
}

aside {
  grid-area: aside;
  background: #c9c500;
  padding: 5px;
}

footer {
  grid-area: footer;
  background: red;
  padding: 5px;
}

nav a{
    text-decoration:none;
    color:black;
    } 
nav li{
    display:inline-block;
    width:20%;
    padding:5px;
    background-color:red;
    border:2px solid darkred ;
    text-align:center;
    color:#fff;
    }
nav li:hover{
    background-color:#c9c500;
    color:#000;
    }   

article {
  background: #c9c500;
  padding: 5px;
}


